%h2 Admin functions


:markdown
  Welcome to the admin interface. [Enjoy!](http://trololololololololololo.com/)
  
  * [Category editor](/categories)
  * Data dump
    * [.xls format](/admin/report/xls)

