%h2 Admin functions


:markdown
  Welcome to the admin interface. 

  * [Category editor](/categories)
  * Reports
    * [edot-report.xls](/admin/report/xls)
  * [Training video](http://trololololololololololo.com/)

