%h1 I did a thing!

- semantic_form_for @thing do |f|
  - f.inputs do
    = f.input :text, :required => false
    = f.input :subcategory, :label => 'Thing', :collection => @cats, :required => false
  = f.buttons