body {
  background: #fff;
}

h1 {
  font-size: 1.5em;
}

#main {
  margin-top: 0;
  width: 260px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#login {
  width: 260px;
  margin-bottom: 20px;
}

#banner {
  margin-left: 0;
  padding: 7px;
  font-weight: bold;
  background: #427200;
  color: #fff;
}

#header {
  text-align: left;
  padding: 6px;
}

#header li {
 padding-right: 3px;
 padding-left: 5px;
 border-right: 1px solid #ddd;
}



#global_feed {
  margin-top: 20px;
}

.home_link {
  top: 5px;
  left: 5px;
}

label {
  font-size: 1.5em;
}

input {
  font-size: 2em;
  padding: 5px;
  display: block;
  width: 250px;
}

label {
  display: block;
}

#thing_text_input {
  width: 245px;
}

#thing_text_input label {
  font-size: 0.8em;
}

div.userThings div.userComment {
	width: 250px;
}

cite.userComment {
	display: block;
	margin: 0px;
	margin-top: -5px;
	padding-left: 35px;
	padding-top: 10px;
	font-size: .8em;
	top: 2px;
}

div.userComment {
  margin-bottom: 0 !important;
}