* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: #fff url('/images/green-gradient.png') repeat-x left top;
}

a img {
  border: 0;
}

#catchphrase {
  text-align: center;
  margin-bottom: 40px;
}

#beta_bubble {
  display: inline;
  float: left;
}

#login {
  font-size: 1.3em;
  margin-top: 8px;
  width: 300px;
  float: left;
}

#login .awesome {
  font-size: 0.9em;
  font-weight: normal;
  padding-top: 8px !important;
}

.awesome {
  background-color: #1b7106 !important;
}

#or {
  padding: 10px;
  color: #666;
}

#what_thing {
  display: inline;
}


#header a {
  color: #333;
}

#header {
  padding:8px;
  font-size: 0.9em;
  color: #fff;
  text-align: right;
  border-bottom: 1px solid #ddd;
  background: #eee;
  color: #333;
}

a {
  color: #133f59;
}

#header a {
  color: #333;
}

#header li {
 border-right: 1px solid #999;
 padding-right: 5px;
 padding-left: 3px;
}

#header li.last {
  border-right: none;
  padding-right: 0;
  margin-left: 5px;
}

#header li a {
  text-transform: lowercase;
}

#header ul {
  list-style: none;
}

#header ul li {
  display: inline;
}

#header .gravatar {
  vertical-align: middle;
  border: 1px solid #ccc;
}

.home_link {
  position: absolute;
  top: 8px;
  left: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.home_link:hover {
  text-decoration: underline;
}

#main {
  background: #fff;
  margin-bottom: 30px;
  width: 600px;
  padding: 40px;
  padding-top: 30px;
  margin-left: 50px;
}

#banner {
  margin-left: 44px;
}

.action {
  font-size: 1.5em;
}

h1, h2, h3 {
  margin-bottom: 10px;
  color: #444;
}

h2 a {
  text-decoration: none;
  color: #444;
}

h1 a:hover {
  border-bottom: 1px solid #3b7793;
}

p {
  margin-bottom: 10px;
  line-height: 1.6em;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px dashed #aaa;
}

#flash {
  background: #aaa;
  padding: 15px;
  margin-bottom: 15px;
  background: #f0f8fd;
  border: 1px solid #dedede;
}

#beta_count {
  margin-top: 15px;
  color: #aaa;
  font-size: 0.8em;
  margin-left: 3px;
}
#tracker img {
  opacity: 0;
}

ul.plain {
  list-style: none;
}

.things {
/*  font-size: 0.8em;*/
  margin-bottom: 20px;
}

.users {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.things li {
  margin-bottom: 5px;
}

select {
  font-size: 12px !important;
}

#thing .time {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
  color: #999;
}

.thing .link a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

.thing .link a:hover {
  color: #666;
  text-decoration: underline;
  border-bottom: none;
}

#tweet_stuff {
  margin-top: 10px;
}

#tweet_it {
  display: inline;
}

#tweet_stuff label {
  display: inline;
  font-size: 0.7em;
}

#team .name {
  font-weight: bold;
}
