* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #efefef;
  color: #333;
}

#catchphrase {
  text-align: center;
}

#header {
  padding:8px;
  font-size: 0.9em;
  background: #ccdce6;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

a {
  color: #133f59;
}

#header li {
 border-right: 1px solid #999;
 padding-right: 5px;
 padding-left: 3px;
}

#header li.last {
  border-right: none;
  padding-right: 0;
}

#header li a {
  text-transform: lowercase;
}

#header ul {
  list-style: none;
}

#header ul li {
  display: inline;
}

#header .gravatar {
  vertical-align: middle;
  border: 1px solid #ccc;
}

#main {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  margin-bottom: 10px;
  color: #444;
}

h1 {
  font-family: "raleway-1","raleway-2", Helvetica, Arial, sans-serif;
/*  font-style: italic;*/
/*  text-transform: lowercase;*/
  font-size: 2.5em;
  font-weight: 700;
  color: #3b7793;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
  line-height: 1.6em;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px dashed #aaa;
}

#flash {
  background: #aaa;
  padding: 15px;
  margin-bottom: 15px;
  background: #f0f8fd;
  border: 1px solid #dedede;
}

#beta_count {
  margin-top: 15px;
  color: #aaa;
  font-size: 0.8em;
  margin-left: 3px;
}
#tracker img {
  opacity: 0;
}

ul.plain {
  list-style: none;
}

.things {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.users {
  font-size: 0.8em;
  margin-bottom: 20px;
}

.things li {
  margin-bottom: 5px;
}

select {
  font-size: 12px !important;
}

#thing .time {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
  color: #999;
}

.thing .link a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}