%h1 Every Day One Thing

%p
  Pithy description goes here. You know you'll like it.
  
%hr/

%h2 Beta signup

%p
  Trust us, you'll be the first to know.

- if flash[:message]
  #flash
    = flash[:message]
  
- semantic_form_for @beta_signup do |f|
  - f.inputs do
    = f.input :email_address, :label => 'Email', :required => false
  - f.buttons do
    = f.commit_button "Sign up", :button_html => { :class => 'green awesome' }
    
%p#beta_count
  = pluralize(@count, 'person')
  signed up so far.