
#catchphrase
  %h1 Every Day One Thing

  %p
    Everything you do for your community matters.
  
  %p
    - if !logged_in?
      = "Please #{link_to 'sign up', signup_path}!"
    - else
      = "I #{link_to 'did a thing', post_path}!"