%h1 About

#about
  :markdown
    <span class="name">Leah "Idea" Swindon</span>:  Every Day One Thing, or edot, has been brewing in Leah’s head and waiting to come to life.  After a 90 second pitch at Seattle Start-up Weekend, a team of developers, designers, and marketing peeps came together to create a place where all of us who love checking in can post our socially conscious status and see the global impact! For her day job, Leah is the Marketing and Communications Director for the Bread of Life Mission in Pioneer Square, Seattle. Twitter [@leahswindon](http://twitter.com/leahswindon)
  
    <span class="name">Jesse "Rails" Kriss</span>: The edot Ruby on Rails expert, Jesse lives, works and drinks his coffee in Seattle, WA. His long-standing interest in music and technology has taken him from fiddling with MIDI in middle school to ditching a Computer Science degree for Music Composition at Carleton College, to following an interest in music performance interface design to Carnegie Mellon's Human-Computer Interaction Institute. You can find him plugging away in the virtual [Figure 53](http://figure53.com) offices. Twitter [@jkriss](http://twitter.com/jkriss)
  
    <span class="name">Rob "N.A.M.P" Lanphier</span>: Rob is Not A Morning Person, but he is a brilliant developer. He joins the edot team as a software developer and community manager, formerly at Linden Lab (makers of Second Life) and RealNetworks.  He is currently working on various open source projects (latest work is jsonwidget: [http://robla.net/jsonwidget](http://robla.net/jsonwidget) )
  
    <span class="name">Ryan "Tigger" Kyle</span>: Ryan Kyle is prone to random vertical jumping when things go well and brings amazing energy to the edot team. Ryan has been using computers since he was 1&frac12;  years old, and he started his company, Concord Mfg LLC when he was 19.  He is a programmer (.net and Microsoft Stock) at heart with the mind of an engineer. In his spare time, he is an avid swing dancer, karaoke singer and chess player. 

    <span class="name">Dave "Bing" Rigotti</span>: Dave gets his Bing on at Microsoft and likes online marketing (search and social), entrepreneurship, a good steak, and breathtaking views. His social media skills have brought people and attention to the edot site. Twitter [@drigotti](http://twitter.com/drigotti) or visit his [blog](http://daverigotti.com).
